:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #393e46;
  --secondary-color: #ffe9e3;
}
body {
  background: radial-gradient(
    circle at 0.7% 1%,
    rgb(215, 248, 247) 0%,
    rgb(102, 188, 239) 100.2%
  );
  font-family: var(--default-font-family);
  color: var(--primary-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-size: 56px;
}
p {
  font-weight: normal;
  font-size: 16px;
}
.hero-wrapper {
  text-align: center;
  padding: 299px 20px;
}
.hero-wrapper h1 {
  font-size: 96px;
  font-weight: bold;
}
.hero-wrapper h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  margin-bottom: 49px;
}
.featured-projects p {
  text-align: center;
  font-size: 18px;
}
.contact-btn {
  color: var(--primary-color);
  background: var(--secondary-color);
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 4px;
  line-height: 27px;
  transition: all 200ms ease-in-out;
}
.contact-btn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}
