:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #393e46;
  --secondary-color: #ffe9e3;
}
body {
  background: radial-gradient(
    circle at 0.7% 1%,
    rgb(215, 248, 247) 0%,
    rgb(102, 188, 239) 100.2%
  );
  font-family: var(--default-font-family);
  color: var(--primary-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-size: 40px;
}
p {
  font-weight: normal;
  font-size: 16px;
}
img {
  border-radius: 4px;
}
.hero-wrapper {
  text-align: center;
  padding: 225px 0;
}
.hero-wrapper h1 {
  font-size: 86px;
  font-weight: bold;
}
.hero-wrapper h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  margin-bottom: 49px;
}
.navbar a {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--primary-color);
}
.contact-btn {
  color: var(--secondary-color);
  background: var(--primary-color);
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 5px;
  line-height: 27px;
  transition: all 200ms ease-in-out;
}
.contact-btn:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
}

.featured-projects h2 {
  margin-top: 70px;
}

.featured-projects a {
  color: var(--primary-color);
  background: var(--secondary-color);
  border: solid 2px var(--primary-color);
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 5px;
  line-height: 27px;
}
.about-wrapper {
  padding: 150px 140px;
  text-align: center;
}
.about-wrapper h2 {
  font-size: 20px;
}
.headshot {
  height: auto;
  max-height: 60%;
  border-radius: 6px;
}
.about-wrapper a {
  margin: auto;
}
.skillset {
  margin: 50px;
}
@media (max-width: 1200px) {
  .about-wrapper {
    padding: 150px 100px;
  }
  .about-wrapper p {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .about-wrapper .col-2 {
    padding: 10px;
  }
  .skillset {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .hero-wrapper h1 {
    font-size: 60px;
  }
  .hero-wrapper h2 {
    font-size: 22px;
    padding: 13px 20px;
  }
  .intro-text {
    padding: 0 50px;
  }
  .contact-btn {
    font-size: 14px;
    padding: 15px 20px;
  }
  .featured-projects h2 {
    font-size: 30px;
  }
  .featured-projects p,
  .featured-projects h2,
  .featured-projects a {
    display: none;
  }
  .about-wrapper {
    padding: 150px 60px 0px 60px;
  }
  .about-wrapper h1 {
    font-size: 28px;
  }
  .about-wrapper h2 {
    font-size: 15px;
  }
  .about-wrapper p {
    font-size: 15px;
  }

  .about-wrapper .col-2 {
    padding: 5px;
  }
  .headshot {
    margin-top: 30px;
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .about-wrapper {
    padding-top: 80px;
    padding-bottom: 0;
  }
  .about-wrapper .contact-btn {
    font-size: 12px;
    padding: 10px;
  }
}
